/* .all-buttons{
    display:flex;
    flex-direction:row;
}

.left-buttons,
.right-buttons{
    display:flex;
    flex-direction:column;

} */


 


.fields-info{
    display:flex;
    flex-direction: column;
    justify-content: left;
    font-size: 22px;
     
}

#ordenacao,
input{
  font-size: 18px;
}

#ordenacao{
  width:500px;  
}

 
input{
  width:565px;  
}
.buttons-order{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}

button{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color:#0f54ca ;
    color:#fff;
    margin: 12px 5px;

}

hr{
    margin:10px,0px
}
